.main-background{
    width:100%;
    height:500px;
    background-image:url(../ocean.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    filter:brightness(100%);
    padding:1px;
}
/* background-repeat:no-repeat --> 화면에 꽉 차지 않을 때 사진이 반복되는 현상을 막아줌 */
/* 
background-size:cover 
- 배경이 짤려도 상관 없으니, 빈 공간 없이 배경으로 채우도록 한다 
- 이를 설정하지 않았을 경우, 배경이 지정된 크기보다 작으면 그만큼 빈 공간이 형성된다.

background-size:contain;
- div 박스가 남아도 좋으니, 배경이 잘리지 않도록 해주세요
(보통 cover를 많이 쓴다)
*/

/* filter:brightness(70%);
filter 속성을 적용하면, 사진 내부에 있는 글씨 등도 같이 적용됨 */

.main-title{
    color:orange;
    font-size:80px;
    margin-top:70px;

}
/* margin collapse 현상:
- 발생 원인: 여러 박스의 테두리가 겹칠 경우 발생한다
- 현상: margin을 주면 모든 박스에 margin이 적용된다
- 해결: 테두리를 떨어뜨린다 : 부모 박스에 padding:1px 적용
*/

.navbar a{
    font-size:20px;
    color:whitesmoke;
    text-decoration: none;
}

.exit_button{
    background-color:pink;
    box-shadow: purple;
    margin-top:10px;
    padding:5px;
    position:absolute;
    width:80px;
    z-index:4;
    border-radius:5px;
    position:relative;
    top:30px;
    left:500px;
}
/* position 연습용 버튼 */
.enter-button{
    padding:10px;
    background:yellowgreen;
    border-radius:5px;
    /* If you using below, the box can be positioned at the center */
    position:absolute;
    left:0px; right:0px; margin:auto; width:100px;

}
/* position 정리
1. 좌표 이동 가능
- relative: 내 원래 위치가 기준
- absolute: relative를 가진 부모가 기준
- fixed: 현재 화면이 기준

2. 공중에 뜬다
*/

.content{
    margin-left:100px;
}

.explain-box{
    width:80%;
    max-width:600px;
    font-style: italic;
    margin:auto;
    text-align:center;
    background-color:wheat;
    padding:10px;
    position:relative; 
    /* 겹치게 하려면.. position: relative; top:-0Xpx; */
    top:-50px;
    z-index:5;
}
.text-input{
    padding:10px;
    font-size:20px;
    border:2px solid rgb(231, 132, 153);
    border-radius: 5px;

}
input[type=password]{
    padding:8px;
    font-size:20px;
    border:2px solid rgb(201, 231, 132);
    border-radius: 5px;
}

/* media query 문법. css파일 최하단에 보통 적음 | 여러개 사용 가능
- 현재 브라우저 폭이 1200px이하일 경우, 30px을 적용해주세요 */

/* breakpoint: 1200px 992px 768px 576px. 4개 이상 사용하면 복잡해짐 */
@media screen and (max-width:1200px){
    .main-title{
        font-size:30px;
    }
    .nav-item{
        font-size:12px;
    }

}

@media screen and (max-width:768px){
    .main-title{
        font-size:20px;
    }
}
